.container {
    width: 1024px;
    height: 500px;
    margin: auto;
}

.container div section {
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
}

.container div section div {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    left: 100px;
    height: 300px;
}

.container div section figure {
    order: 2;
    width: 500px;
    height: 500px;
    padding-top: 50px;
}

.container div section figure img{
    width: 380px;
    height: 380px;
}

.container div section p{
    padding: 4.9rem 0 0 0;
    width: 500px;
    font-size: 2.5rem;
    background-position-y: 0px;
    background-size: 9rem;
    background-position-x: 7.5rem;

}
.container div section h3 strong{
    display:inline;
}

.container div .container-buttons{
    left: 590px;
    top: 410px;
    width: 80px;
    height: 40px;
}

.container div .container-buttons img{
    width: 12px;
    height: 12px;
}

.article-footer{
    height: 120px;
    width: 1024px;
    margin: auto;
}